p{
    color: blue;
}

iframe{
    width:100px;
    height:100px;
    display: none;
}

#cat{
    width: 100px;
    height:100px ;
    display: none;
}

p{
    display: none;
}


@media screen and (min-width:300px){
    #cat{
        display: inline;
    } 
}

@media screen and (device-aspect-ratio: 3/4 ){
    p{
        display: inline;
    }
}

@media screen and (max-width:500px){
    iframe{
        display: inline;
    } 
}
